language: bash

env:
  global:
  - IMAGE_NAME=${DOCKER_USERNAME}/jupyter-pyspark-toree
  - FROM_DOCKER_IMAGE=guangie88/spark-custom

matrix:
  include:
{% for v in versions %}
  - services: docker
    env:
    - SPARK_VERSION={{ v.spark }}
    - HADOOP_VERSION={{ v.hadoop }}
    - WITH_HIVE={{ v.with_hive }}
{% endfor %}

script:
- set -e
- docker login -u="${DOCKER_USERNAME}" -p="${DOCKER_PASSWORD}"
- HIVE_TAG_SUFFIX=$(if [ "${WITH_HIVE}" = "true" ]; then echo _hive; fi)
- TAG_NAME=${SPARK_VERSION}_hadoop-${HADOOP_VERSION}${HIVE_TAG_SUFFIX}_pyspark_debian
- FULL_IMAGE_NAME="${IMAGE_NAME}:${TAG_NAME}"
- FROM_DOCKER_TAG="${SPARK_VERSION}_hadoop-${HADOOP_VERSION}${HIVE_TAG_SUFFIX}_pyspark_debian"
- PY4J_SRC=$(docker run --rm -t ${FROM_DOCKER_IMAGE}:${FROM_DOCKER_TAG} sh -c 'ls ${SPARK_HOME}/python/lib/py4j* | sed -E "s/.+(py4j-.+)/\1/\"')
- |
  docker build . -t ${FULL_IMAGE_NAME} \
    --build-arg FROM_DOCKER_IMAGE=${FROM_DOCKER_IMAGE} \
    --build-arg FROM_DOCKER_TAG=${FROM_DOCKER_TAG} \
    --build-arg PY4J_SRC=${PY4J_SRC} \
    ;
# Just push, doesn't matter if it's TRAVIS_PULL_REQUEST false/true
- docker push ${FULL_IMAGE_NAME}

branches:
  only:
  - master
